Institutional Characteristics 2001-2021

In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Directory information - Complete Survey
File name code: HD	
01/02 - 21/22

Step 1: 
1. select relevant columns from larger survey data
2. add year & academic year

In [2]:
hd_2001 = pd.read_csv("fa2001hd.csv",low_memory=False)
hd_2001.head(2)
hd_2001 = hd_2001[['unitid','instnm','addr','city','stabbr','zip','obereg','sector','iclevel','control','deggrant','carnegie','pset4flg','medical','hospital','openpubl']]
hd_2001['year'] = hd_2001['academic year'] = '2001'
hd_2001['academic year'] = hd_2001['academic year'] = '2001-2002'


hd_2001.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100636,COMMUNITY COLLEGE OF THE AIR FORCE,130 W MAXWELL BLVD,MONTGOMERY,AL,361126613.0,0,4,2,1,1,40,6,2,2,2,2001,2001-2002
1,100654,ALABAMA A & M UNIVERSITY,4107 MERIDIAN ST,NORMAL,AL,35762.0,5,1,1,1,1,16,1,2,2,1,2001,2001-2002
2,100663,UNIVERSITY OF ALABAMA AT BIRMINGHAM,ADMINISTRATION BLDG SUITE 1070,BIRMINGHAM,AL,352940110.0,5,1,1,1,1,15,1,1,1,1,2001,2001-2002
3,100690,SOUTHERN CHRISTIAN UNIVERSITY,1200 TAYLOR RD,MONTGOMERY,AL,361173553.0,5,2,1,2,1,51,1,2,2,1,2001,2001-2002
4,100706,UNIVERSITY OF ALABAMA IN HUNTSVILLE,301 SPARKMAN DR,HUNTSVILLE,AL,35899.0,5,1,1,1,1,16,1,2,2,1,2001,2001-2002

In [3]:
hd_2002 = pd.read_csv("hd2002.csv",low_memory=False)
hd_2002.head(2)
hd_2002 = hd_2002[['unitid','instnm','addr','city','stabbr','zip','obereg','sector','iclevel','control','deggrant','carnegie','pset4flg','medical','hospital','openpubl']]
hd_2002['year'] = hd_2002['academic year'] = '2002'
hd_2002['academic year'] = hd_2002['academic year'] = '2002-2003'
hd_2002.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100636,COMMUNITY COLLEGE OF THE AIR FORCE,130 W MAXWELL BLVD,MONTGOMERY,AL,36112-6613,0,4,2,1,1,40,6,-1,2,0,2002,2002-2003
1,100654,ALABAMA A & M UNIVERSITY,4107 MERIDIAN ST,NORMAL,AL,35762,5,1,1,1,1,16,1,2,2,1,2002,2002-2003
2,100663,UNIVERSITY OF ALABAMA AT BIRMINGHAM,ADMINISTRATION BLDG SUITE 1070,BIRMINGHAM,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2002,2002-2003
3,100690,SOUTHERN CHRISTIAN UNIVERSITY,1200 TAYLOR RD,MONTGOMERY,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2002,2002-2003
4,100706,UNIVERSITY OF ALABAMA IN HUNTSVILLE,301 SPARKMAN DR,HUNTSVILLE,AL,35899,5,1,1,1,1,16,1,2,2,1,2002,2002-2003

In [4]:
hd_2003 = pd.read_csv("hd2003.csv",low_memory=False)
hd_2003 = hd_2003[['unitid','instnm','addr','city','stabbr','zip','obereg','sector','iclevel','control','deggrant','carnegie','pset4flg','medical','hospital','openpubl']]
hd_2003['year'] = hd_2003['academic year'] = '2003'
hd_2003['academic year'] = hd_2003['academic year'] = '2003-2004'
hd_2003.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100636,COMMUNITY COLLEGE OF THE AIR FORCE,130 W MAXWELL BLVD,MONTGOMERY,AL,36112-6613,0,4,2,1,1,40,6,2,2,0,2003,2003-2004
1,100654,ALABAMA A & M UNIVERSITY,4107 MERIDIAN ST,NORMAL,AL,35762,5,1,1,1,1,16,1,2,2,1,2003,2003-2004
2,100663,UNIVERSITY OF ALABAMA AT BIRMINGHAM,ADMINISTRATION BLDG SUITE 1070,BIRMINGHAM,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2003,2003-2004
3,100690,SOUTHERN CHRISTIAN UNIVERSITY,1200 TAYLOR RD,MONTGOMERY,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2003,2003-2004
4,100706,UNIVERSITY OF ALABAMA IN HUNTSVILLE,301 SPARKMAN DR,HUNTSVILLE,AL,35899,5,1,1,1,1,16,1,2,2,1,2003,2003-2004

In [5]:
hd_2004 = pd.read_csv("hd2004.csv",low_memory=False)
hd_2004 = hd_2004[['UNITID','INSTNM','ADDR','CITY','STABBR','ZIP','OBEREG','SECTOR','ICLEVEL','CONTROL','DEGGRANT','CARNEGIE','PSET4FLG','MEDICAL','HOSPITAL','OPENPUBL']]
hd_2004.columns = hd_2004.columns.str.lower()
hd_2004['year'] = hd_2004['academic year'] = '2004'
hd_2004['academic year'] = hd_2004['academic year'] = '2004-2005'
hd_2004.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100636,COMMUNITY COLLEGE OF THE AIR FORCE,130 W MAXWELL BLVD,MONTGOMERY,AL,36112-6613,0,4,2,1,1,40,6,-1,2,0,2004,2004-2005
1,100654,ALABAMA A & M UNIVERSITY,4107 MERIDIAN ST,NORMAL,AL,35762,5,1,1,1,1,16,1,2,2,1,2004,2004-2005
2,100663,UNIVERSITY OF ALABAMA AT BIRMINGHAM,ADMINISTRATION BLDG SUITE 1070,BIRMINGHAM,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2004,2004-2005
3,100690,SOUTHERN CHRISTIAN UNIVERSITY,1200 TAYLOR RD,MONTGOMERY,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2004,2004-2005
4,100706,UNIVERSITY OF ALABAMA IN HUNTSVILLE,301 SPARKMAN DR,HUNTSVILLE,AL,35899,5,1,1,1,1,16,1,2,2,1,2004,2004-2005

In [6]:
hd_2005 = pd.read_csv("hd2005.csv",low_memory=False,encoding = "ISO-8859-1")
hd_2005 = hd_2005[['UNITID','INSTNM','ADDR','CITY','STABBR','ZIP','OBEREG','SECTOR','ICLEVEL','CONTROL','DEGGRANT','CARNEGIE','PSET4FLG','MEDICAL','HOSPITAL','OPENPUBL']]
hd_2005.columns = hd_2005.columns.str.lower()
hd_2005['year'] = hd_2005['academic year'] = '2005'
hd_2005['academic year'] = hd_2005['academic year'] = '2005-2006'
hd_2005.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100636,Community College of the Air Force,130 W Maxwell Blvd,Montgomery,AL,36112-6613,0,4,2,1,1,40,6,2,-1,0,2005,2005-2006
1,100654,Alabama A & M University,4107 Meridian St,Normal,AL,35762,5,1,1,1,1,16,1,2,0,1,2005,2005-2006
2,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2005,2005-2006
3,100690,Southern Christian University,1200 Taylor Rd,Montgomery,AL,36117-3553,5,2,1,2,1,51,1,2,0,1,2005,2005-2006
4,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,5,1,1,1,1,16,1,2,0,1,2005,2005-2006

In [7]:
hd_2006 = pd.read_csv("hd2006.csv",low_memory=False,encoding = "ISO-8859-1")
hd_2006 = hd_2006[['UNITID','INSTNM','ADDR','CITY','STABBR','ZIP','OBEREG','SECTOR','ICLEVEL','CONTROL','DEGGRANT','CARNEGIE','PSET4FLG','MEDICAL','HOSPITAL','OPENPUBL']]
hd_2006.columns = hd_2006.columns.str.lower()
hd_2006['year'] = hd_2006['academic year'] = '2006'
hd_2006['academic year'] = hd_2006['academic year'] = '2006-2007'
hd_2006.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100636,Community College of the Air Force,130 W Maxwell Blvd,Montgomery,AL,36112-6613,0,4,2,1,1,40,6,2,2,0,2006,2006-2007
1,100654,Alabama A & M University,4900 Meridian St,Normal,AL,35762,5,1,1,1,1,16,1,2,2,1,2006,2006-2007
2,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2006,2006-2007
3,100690,Regions University,1200 Taylor Rd,Montgomery,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2006,2006-2007
4,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,5,1,1,1,1,16,1,2,2,1,2006,2006-2007

In [8]:
hd_2007 = pd.read_csv("hd2007.csv",low_memory=False,encoding = "ISO-8859-1")
hd_2007 = hd_2007[['UNITID','INSTNM','ADDR','CITY','STABBR','ZIP','OBEREG','SECTOR','ICLEVEL','CONTROL','DEGGRANT','CARNEGIE','PSET4FLG','MEDICAL','HOSPITAL','OPENPUBL']]
hd_2007.columns = hd_2007.columns.str.lower()
hd_2007['year'] = hd_2007['academic year'] = '2007'
hd_2007['academic year'] = hd_2007['academic year'] = '2007-2008'
hd_2007.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100636,Community College of the Air Force,130 W Maxwell Blvd,Montgomery,AL,36112-6613,0,4,2,1,1,40,6,2,-1,0,2007,2007-2008
1,100654,Alabama A & M University,4900 Meridian St,Normal,AL,35762,5,1,1,1,1,16,1,2,2,1,2007,2007-2008
2,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2007,2007-2008
3,100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2007,2007-2008
4,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,5,1,1,1,1,16,1,2,2,1,2007,2007-2008

In [9]:
hd_2008 = pd.read_csv("hd2008.csv",low_memory=False,encoding = "ISO-8859-1")
hd_2008 = hd_2008[['UNITID','INSTNM','ADDR','CITY','STABBR','ZIP','OBEREG','SECTOR','ICLEVEL','CONTROL','DEGGRANT','CARNEGIE','PSET4FLG','MEDICAL','HOSPITAL','OPENPUBL']]
hd_2008.columns = hd_2008.columns.str.lower()
hd_2008['year'] = hd_2008['academic year'] = '2008'
hd_2008['academic year'] = hd_2008['academic year'] = '2008-2009'
hd_2008.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100636,Community College of the Air Force,130 W Maxwell Blvd,Montgomery,AL,36112-6613,0,4,2,1,1,40,6,2,-1,0,2008,2008-2009
1,100654,Alabama A & M University,4900 Meridian St,Normal,AL,35762,5,1,1,1,1,16,1,2,2,1,2008,2008-2009
2,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2008,2008-2009
3,100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2008,2008-2009
4,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,5,1,1,1,1,16,1,2,2,1,2008,2008-2009

In [10]:
hd_2009 = pd.read_csv("hd2009.csv",low_memory=False,encoding = "ISO-8859-1")
hd_2009 = hd_2009[['unitid','instnm','addr','city','stabbr','zip','obereg','sector','iclevel','control','deggrant','carnegie','pset4flg','medical','hospital','openpubl']]
hd_2009['year'] = hd_2009['academic year'] = '2009'
hd_2009['academic year'] = hd_2009['academic year'] = '2009-2010'
hd_2009.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100636,Community College of the Air Force,100 S Turner Blvd,Montgomery,AL,36114-0011,0,4,2,1,1,40,6,2,-1,0,2009,2009-2010
1,100654,Alabama A & M University,4900 Meridian St,Normal,AL,35762,5,1,1,1,1,16,1,2,1,1,2009,2009-2010
2,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2009,2009-2010
3,100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2009,2009-2010
4,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,5,1,1,1,1,16,1,2,2,1,2009,2009-2010

In [11]:
hd_2010 = pd.read_csv("hd2010.csv",low_memory=False,encoding = "ISO-8859-1")
hd_2010 = hd_2010[['UNITID','INSTNM','ADDR','CITY','STABBR','ZIP','OBEREG','SECTOR','ICLEVEL','CONTROL','DEGGRANT','CARNEGIE','PSET4FLG','MEDICAL','HOSPITAL','OPENPUBL']]
hd_2010.columns = hd_2010.columns.str.lower()
hd_2010['year'] = hd_2010['academic year'] = '2010'
hd_2010['academic year'] = hd_2010['academic year'] = '2010-2011'
hd_2010.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100636,Community College of the Air Force,100 S Turner Blvd,Montgomery,AL,36114-0011,0,4,2,1,1,40,6,2,-1,0,2010,2010-2011
1,100654,Alabama A & M University,4900 Meridian St,Normal,AL,35762,5,1,1,1,1,16,1,2,2,1,2010,2010-2011
2,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2010,2010-2011
3,100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2010,2010-2011
4,100706,University of Alabama at Huntsville,301 Sparkman Dr,Huntsville,AL,35899,5,1,1,1,1,16,1,2,2,1,2010,2010-2011

In [12]:
hd_2011 = pd.read_csv("hd2011.csv",low_memory=False,encoding = "ISO-8859-1")
hd_2011 = hd_2011[['UNITID','INSTNM','ADDR','CITY','STABBR','ZIP','OBEREG','SECTOR','ICLEVEL','CONTROL','DEGGRANT','CARNEGIE','PSET4FLG','MEDICAL','HOSPITAL','OPENPUBL']]
hd_2011.columns = hd_2011.columns.str.lower()
hd_2011['year'] = hd_2011['academic year'] = '2011'
hd_2011['academic year'] = hd_2011['academic year'] = '2011-2012'
hd_2011.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100636,Community College of the Air Force,100 S Turner Blvd,Montgomery,AL,36114-3011,0,4,2,1,1,40,6,2,-1,0,2011,2011-2012
1,100654,Alabama A & M University,4900 Meridian Street,Normal,AL,35762,5,1,1,1,1,16,1,2,2,1,2011,2011-2012
2,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2011,2011-2012
3,100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2011,2011-2012
4,100706,University of Alabama at Huntsville,301 Sparkman Dr,Huntsville,AL,35899,5,1,1,1,1,16,1,2,2,1,2011,2011-2012

In [13]:
hd_2012 = pd.read_csv("hd2012.csv",low_memory=False,encoding = "ISO-8859-1")
hd_2012 = hd_2012[['UNITID','INSTNM','ADDR','CITY','STABBR','ZIP','OBEREG','SECTOR','ICLEVEL','CONTROL','DEGGRANT','CARNEGIE','PSET4FLG','MEDICAL','HOSPITAL','OPENPUBL']]
hd_2012.columns = hd_2012.columns.str.lower()
hd_2012['year'] = hd_2012['academic year'] = '2012'
hd_2012['academic year'] = hd_2012['academic year'] = '2012-2013'
hd_2012.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100636,Community College of the Air Force,100 S Turner Blvd,Montgomery,AL,36114-3011,0,4,2,1,1,40,6,-1,-1,0,2012,2012-2013
1,100654,Alabama A & M University,4900 Meridian Street,Normal,AL,35762,5,1,1,1,1,16,1,2,2,1,2012,2012-2013
2,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2012,2012-2013
3,100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2012,2012-2013
4,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,5,1,1,1,1,16,1,2,2,1,2012,2012-2013

In [14]:
hd_2013 = pd.read_csv("hd2013.csv",low_memory=False,encoding = "ISO-8859-1")
hd_2013 = hd_2013[['UNITID','INSTNM','ADDR','CITY','STABBR','ZIP','OBEREG','SECTOR','ICLEVEL','CONTROL','DEGGRANT','CARNEGIE','PSET4FLG','MEDICAL','HOSPITAL','OPENPUBL']]
hd_2013.columns = hd_2013.columns.str.lower()
hd_2013['year'] = hd_2013['academic year'] = '2013'
hd_2013['academic year'] = hd_2013['academic year'] = '2013-2014'
hd_2013.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100654,Alabama A & M University,4900 Meridian Street,Normal,AL,35762,5,1,1,1,1,16,1,2,2,1,2013,2013-2014
1,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2013,2013-2014
2,100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2013,2013-2014
3,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,5,1,1,1,1,16,1,2,2,1,2013,2013-2014
4,100724,Alabama State University,915 S Jackson Street,Montgomery,AL,36104-0271,5,1,1,1,1,21,1,2,2,1,2013,2013-2014

In [15]:
hd_2014 = pd.read_csv("hd2014.csv",low_memory=False,encoding = "ISO-8859-1")
hd_2014 = hd_2014[['UNITID','INSTNM','ADDR','CITY','STABBR','ZIP','OBEREG','SECTOR','ICLEVEL','CONTROL','DEGGRANT','CARNEGIE','PSET4FLG','MEDICAL','HOSPITAL','OPENPUBL']]
hd_2014.columns = hd_2014.columns.str.lower()
hd_2014['year'] = hd_2014['academic year'] = '2014'
hd_2014['academic year'] = hd_2014['academic year'] = '2014-2015'
hd_2014.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100636,Community College of the Air Force,100 S Turner Blvd,Montgomery,AL,36114-3011,0,99,-3,-3,-3,-3,6,-1,-2,0,2014,2014-2015
1,100654,Alabama A & M University,4900 Meridian Street,Normal,AL,35762,5,1,1,1,1,16,1,2,2,1,2014,2014-2015
2,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2014,2014-2015
3,100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2014,2014-2015
4,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,5,1,1,1,1,16,1,2,2,1,2014,2014-2015

In [16]:
hd_2015 = pd.read_csv("hd2015.csv",low_memory=False,encoding = "ISO-8859-1")
hd_2015 = hd_2015[['UNITID','INSTNM','ADDR','CITY','STABBR','ZIP','OBEREG','SECTOR','ICLEVEL','CONTROL','DEGGRANT','CARNEGIE','PSET4FLG','MEDICAL','HOSPITAL','OPENPUBL']]
hd_2015.columns = hd_2015.columns.str.lower()
hd_2015['year'] = hd_2015['academic year'] = '2015'
hd_2015['academic year'] = hd_2015['academic year'] = '2015-2016'
hd_2015.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100654,Alabama A & M University,4900 Meridian Street,Normal,AL,35762,5,1,1,1,1,16,1,2,2,1,2015,2015-2016
1,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2015,2015-2016
2,100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2015,2015-2016
3,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,5,1,1,1,1,16,1,2,2,1,2015,2015-2016
4,100724,Alabama State University,915 S Jackson Street,Montgomery,AL,36104-0271,5,1,1,1,1,21,1,2,2,1,2015,2015-2016

In [17]:
hd_2016 = pd.read_csv("hd2016.csv",low_memory=False,encoding = "ISO-8859-1")
hd_2016 = hd_2016[['UNITID','INSTNM','ADDR','CITY','STABBR','ZIP','OBEREG','SECTOR','ICLEVEL','CONTROL','DEGGRANT','CARNEGIE','PSET4FLG','MEDICAL','HOSPITAL','OPENPUBL']]
hd_2016.columns = hd_2016.columns.str.lower()
hd_2016['year'] = hd_2016['academic year'] = '2016'
hd_2016['academic year'] = hd_2016['academic year'] = '2016-2017'
hd_2016.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100654,Alabama A & M University,4900 Meridian Street,Normal,AL,35762,5,1,1,1,1,16,1,2,2,1,2016,2016-2017
1,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2016,2016-2017
2,100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2016,2016-2017
3,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,5,1,1,1,1,16,1,2,2,1,2016,2016-2017
4,100724,Alabama State University,915 S Jackson Street,Montgomery,AL,36104-0271,5,1,1,1,1,21,1,2,2,1,2016,2016-2017

In [18]:
hd_2017 = pd.read_csv("hd2017.csv",low_memory=False,encoding = "ISO-8859-1")
hd_2017 = hd_2017[['UNITID','INSTNM','ADDR','CITY','STABBR','ZIP','OBEREG','SECTOR','ICLEVEL','CONTROL','DEGGRANT','CARNEGIE','PSET4FLG','MEDICAL','HOSPITAL','OPENPUBL']]
hd_2017.columns = hd_2017.columns.str.lower()
hd_2017['year'] = hd_2017['academic year'] = '2017'
hd_2017['academic year'] = hd_2017['academic year'] = '2017-2018'
hd_2017.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100654,Alabama A & M University,4900 Meridian Street,Normal,AL,35762,5,1,1,1,1,16,1,2,2,1,2017,2017-2018
1,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2017,2017-2018
2,100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2017,2017-2018
3,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,5,1,1,1,1,16,1,2,2,1,2017,2017-2018
4,100724,Alabama State University,915 S Jackson Street,Montgomery,AL,36104-0271,5,1,1,1,1,21,1,2,2,1,2017,2017-2018

In [19]:
hd_2018 = pd.read_csv("hd2018.csv",low_memory=False,encoding = "ISO-8859-1")
hd_2018 = hd_2018[['UNITID','INSTNM','ADDR','CITY','STABBR','ZIP','OBEREG','SECTOR','ICLEVEL','CONTROL','DEGGRANT','CARNEGIE','PSET4FLG','MEDICAL','HOSPITAL','OPENPUBL']]
hd_2018.columns = hd_2018.columns.str.lower()
hd_2018['year'] = hd_2018['academic year'] = '2018'
hd_2018['academic year'] = hd_2018['academic year'] = '2018-2019'
hd_2018.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100654,Alabama A & M University,4900 Meridian Street,Normal,AL,35762,5,1,1,1,1,16,1,2,2,1,2018,2018-2019
1,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2018,2018-2019
2,100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2018,2018-2019
3,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,5,1,1,1,1,16,1,2,2,1,2018,2018-2019
4,100724,Alabama State University,915 S Jackson Street,Montgomery,AL,36104-0271,5,1,1,1,1,21,1,2,2,1,2018,2018-2019

In [20]:
hd_2019 = pd.read_csv("hd2019.csv",low_memory=False,encoding = "ISO-8859-1")
hd_2019 = hd_2019[['UNITID','INSTNM','ADDR','CITY','STABBR','ZIP','OBEREG','SECTOR','ICLEVEL','CONTROL','DEGGRANT','CARNEGIE','PSET4FLG','MEDICAL','HOSPITAL','OPENPUBL']]
hd_2019.columns = hd_2019.columns.str.lower()
hd_2019['year'] = hd_2019['academic year'] = '2019'
hd_2019['academic year'] = hd_2019['academic year'] = '2019-20'
hd_2019.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100654,Alabama A & M University,4900 Meridian Street,Normal,AL,35762,5,1,1,1,1,16,1,2,2,1,2019,2019-20
1,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2019,2019-20
2,100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2019,2019-20
3,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,5,1,1,1,1,16,1,2,2,1,2019,2019-20
4,100724,Alabama State University,915 S Jackson Street,Montgomery,AL,36104-0271,5,1,1,1,1,21,1,2,2,1,2019,2019-20

In [21]:
hd_2020 = pd.read_csv("hd2020.csv",low_memory=False,encoding = "ISO-8859-1")
hd_2020 = hd_2020[['UNITID','INSTNM','ADDR','CITY','STABBR','ZIP','OBEREG','SECTOR','ICLEVEL','CONTROL','DEGGRANT','CARNEGIE','PSET4FLG','MEDICAL','HOSPITAL','OPENPUBL']]
hd_2020.columns = hd_2020.columns.str.lower()
hd_2020['year'] = hd_2020['academic year'] = '2020'
hd_2020['academic year'] = hd_2020['academic year'] = '2020-2021'
hd_2020.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100654,Alabama A & M University,4900 Meridian Street,Normal,AL,35762,5,1,1,1,1,16,1,2,2,1,2020,2020-2021
1,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2020,2020-2021
2,100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2020,2020-2021
3,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,5,1,1,1,1,16,1,2,2,1,2020,2020-2021
4,100724,Alabama State University,915 S Jackson Street,Montgomery,AL,36104-0271,5,1,1,1,1,21,1,2,2,1,2020,2020-2021

In [22]:
hd_2021 = pd.read_csv("hd2021.csv",low_memory=False,encoding = "ISO-8859-1")
hd_2021 = hd_2021[['UNITID','INSTNM','ADDR','CITY','STABBR','ZIP','OBEREG','SECTOR','ICLEVEL','CONTROL','DEGGRANT','CARNEGIE','PSET4FLG','MEDICAL','HOSPITAL','OPENPUBL']]
hd_2021.columns = hd_2021.columns.str.lower()
hd_2021['year'] = hd_2021['academic year'] = '2021'
hd_2021['academic year'] = hd_2021['academic year'] = '2021-2022'
hd_2021.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100654,Alabama A & M University,4900 Meridian Street,Normal,AL,35762,5,1,1,1,1,16,1,2,2,1,2021,2021-2022
1,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,5,1,1,1,1,15,1,1,1,1,2021,2021-2022
2,100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,5,2,1,2,1,51,1,2,2,1,2021,2021-2022
3,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,5,1,1,1,1,16,1,2,2,1,2021,2021-2022
4,100724,Alabama State University,915 S Jackson Street,Montgomery,AL,36104-0271,5,1,1,1,1,21,1,2,2,1,2021,2021-2022

Step 2:
1. Merge dataframe for each year
2. Map survey keys to categorical values

In [23]:
hd_merge = pd.concat([hd_2001,hd_2002,hd_2003,hd_2004,hd_2005,hd_2006,hd_2007,hd_2008,hd_2009,hd_2010,hd_2011,hd_2012,hd_2013,hd_2014,hd_2015,hd_2016,hd_2017,hd_2018,hd_2019,hd_2020,hd_2021],ignore_index=False)
hd_merge = hd_merge.astype(object)

obereg_dict = {0:"US Service schools",1:"New England",2:"Mid East",3:"Great Lakes",4:"Plains",5:"Southeast",6:"Southwest",7:"Rocky Mountains",8:"Far West",9:"Other US jurisdictions"}
sector_dict = {0:"Administrative Unit",1:"4-year public",2:"4-year private, not-for-profit",3:"4-year private, for-profit",4:"2-year public",5:"2-year private, not-for-profit",6:"2-year private, for-profit",7:"Less than 2-year public",8:"Less than 2-year private, not-for-profit",9:"Less than 2-year private, for-profit",99:"sector not known"}
iclevel_dict = {-3:"not available",1:"Four or more years",2:"At least 2 but less than 4 years",3:"Less than 2 years (below associate)"} 
control_dict = { -3:"not available",1:"Public",2:"Private not-for-profit",3:"Private for-profit"}
deggrant_dict = {-3:"not available",1:"Degree-granting",2:"Nondegree-granting, primarily postsecondary",3:"Not primarily postsecondary institutions",4:"Institution is not an educational entity"}
carnegie_dict = {-3:"not available",-2:"not applicable",15:"Doctoral or Research Universities-Extensive",16:"Doctoral or Research Universities-Intensive",21:"Masters Colleges and Universities I",22:"Masters Colleges and Universities II",31:"Baccalaureate Colleges-Liberal Arts",32:"Baccalaureate Colleges-General",33:"Baccalaureate/Associates Colleges",40:"Associates Colleges",51:"Specialized Institutions: Theological seminaries and other special",52:"Specialized Institutions: Medical schools and medical centers",53:"Specialized Institutions: Other separate health profession schools",54:"Specialized Institutions: Schools of engineering and technology",55:"Specialized Institutions: Schools of business and management",56:"Specialized Institutions: Schools of art, music, and design",57:"Specialized Institutions: Schools of law",58:"Specialized Institutions: Teachers colleges",59:"Specialized Institutions: Other specialized institutions",60:"Specialized Institutions: Tribal colleges"}
pset4flg_dict = {1:"Title IV postsecondary institution",2:"Non-Title IV postsecondary institution",3:"Title IV NOT primarily postsecondary institution",4:"Non-Title IV NOT primarily postsecondary institution",5:"Title IV postsecondary institution that is NOT open to the public",6:"Non-Title IV postsecondary institution that is NOT open to the public",9:"Institution is not active in current universe"}
medical_dict = {-2:"not applicable",-1:"not reported",1:"Yes",2:"No"}
hospital_dict = {-3:"not available",-2:"not applicable",-1:"not reported",0:"No",1:"Yes",2:"No"}
openpubl_dict = {-3:"not available",0:"Institution is not open to the public",1:"Insititution is open to the public",2:"Insititution is not open to the public"}

hd_merge = hd_merge.replace({'obereg':obereg_dict,'sector':sector_dict,'iclevel':iclevel_dict,'control':control_dict,'deggrant':deggrant_dict,'carnegie':carnegie_dict,'pset4flg':pset4flg_dict,'medical':medical_dict,'hospital':hospital_dict,'openpubl':openpubl_dict})
hd_merge.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year
0,100636,COMMUNITY COLLEGE OF THE AIR FORCE,130 W MAXWELL BLVD,MONTGOMERY,AL,361126613.0,US Service schools,2-year public,At least 2 but less than 4 years,Public,Degree-granting,Associates Colleges,Non-Title IV postsecondary institution that is...,No,No,Insititution is not open to the public,2001,2001-2002
1,100654,ALABAMA A & M UNIVERSITY,4107 MERIDIAN ST,NORMAL,AL,35762.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Doctoral or Research Universities-Intensive,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002
2,100663,UNIVERSITY OF ALABAMA AT BIRMINGHAM,ADMINISTRATION BLDG SUITE 1070,BIRMINGHAM,AL,352940110.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Doctoral or Research Universities-Extensive,Title IV postsecondary institution,Yes,Yes,Insititution is open to the public,2001,2001-2002
3,100690,SOUTHERN CHRISTIAN UNIVERSITY,1200 TAYLOR RD,MONTGOMERY,AL,361173553.0,Southeast,"4-year private, not-for-profit",Four or more years,Private not-for-profit,Degree-granting,Specialized Institutions: Theological seminari...,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002
4,100706,UNIVERSITY OF ALABAMA IN HUNTSVILLE,301 SPARKMAN DR,HUNTSVILLE,AL,35899.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Doctoral or Research Universities-Intensive,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002

Add a column for Carnegie_Grouped

In [24]:

def carnegie_grouped(row):
    if row["carnegie"] == 'Doctoral or Research Universities-Intensive' or row["carnegie"] == 'Doctoral or Research Universities-Extensive':
        return 'Doctoral or Research Universities'
    elif row["carnegie"] == 'Masters Colleges and Universities I' or row["carnegie"] == 'Masters Colleges and Universities II':
        return 'Masters Colleges and Universities'
    elif row["carnegie"] == 'Baccalaureate Colleges-General' or row["carnegie"] == 'Baccalaureate Colleges-Liberal Arts':
        return 'Baccalaureate Colleges and Universities'
    elif row["carnegie"] == 'Associates Colleges' or row["carnegie"] == 'Baccalaureate/Associates Colleges':
        return 'Associates Colleges'   
    elif row["carnegie"] == 'Specialized Institutions: Other specialized institutions' or row["carnegie"] == 'Specialized Institutions: Schools of art, music, and design' or row["carnegie"] == 'Specialized Institutions: Schools of business and management' or row["carnegie"] == 'Specialized Institutions: Schools of engineering and technology' or row["carnegie"] == 'Specialized Institutions: Tribal colleges' or row["carnegie"] == 'Specialized Institutions: Medical schools and medical centers' or row["carnegie"] == 'Specialized Institutions: Other separate health profession schools' or row["carnegie"] == 'Specialized Institutions: Schools of law' or row["carnegie"] == 'Specialized Institutions: Teachers colleges' or row["carnegie"] =='Specialized Institutions: Theological seminaries and other special':
        return 'Specialized Institutions'   
    else:
        return 'not applicable'
    
hd_merge['carnegie_grouped'] = hd_merge.apply(lambda row: carnegie_grouped(row), axis=1)

hd_merge.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year,carnegie_grouped
0,100636,COMMUNITY COLLEGE OF THE AIR FORCE,130 W MAXWELL BLVD,MONTGOMERY,AL,361126613.0,US Service schools,2-year public,At least 2 but less than 4 years,Public,Degree-granting,Associates Colleges,Non-Title IV postsecondary institution that is...,No,No,Insititution is not open to the public,2001,2001-2002,Associates Colleges
1,100654,ALABAMA A & M UNIVERSITY,4107 MERIDIAN ST,NORMAL,AL,35762.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Doctoral or Research Universities-Intensive,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002,Doctoral or Research Universities
2,100663,UNIVERSITY OF ALABAMA AT BIRMINGHAM,ADMINISTRATION BLDG SUITE 1070,BIRMINGHAM,AL,352940110.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Doctoral or Research Universities-Extensive,Title IV postsecondary institution,Yes,Yes,Insititution is open to the public,2001,2001-2002,Doctoral or Research Universities
3,100690,SOUTHERN CHRISTIAN UNIVERSITY,1200 TAYLOR RD,MONTGOMERY,AL,361173553.0,Southeast,"4-year private, not-for-profit",Four or more years,Private not-for-profit,Degree-granting,Specialized Institutions: Theological seminari...,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002,Specialized Institutions
4,100706,UNIVERSITY OF ALABAMA IN HUNTSVILLE,301 SPARKMAN DR,HUNTSVILLE,AL,35899.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Doctoral or Research Universities-Intensive,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002,Doctoral or Research Universities

Step 3: 
1. Double check mapping, merge etc

In [25]:
#by_year = hd_merge.groupby('year').count()
#print(by_year)

#sector = hd_merge['sector'].unique()
#print(sector)

#control = hd_merge['control'].unique()
#print(control)

#obereg = hd_merge['obereg'].unique()
#print(obereg)

#control = hd_merge['control'].unique()
#print(control)

#deggrant = hd_merge['deggrant'].unique()
#print(deggrant)

#carnegie = hd_merge['carnegie'].unique()
#print(carnegie)

#carnegie_grouped = hd_merge['carnegie_grouped'].unique()
#print(carnegie_grouped)

#pset4flg = hd_merge['pset4flg'].unique()
#print(pset4flg)

#openpubl = hd_merge['openpubl'].unique()
#print(openpubl)

#iclevel = hd_merge['iclevel'].unique()
#print(iclevel)

Step 4: 
Filter data by scope of the project:
1. Degree-granting
2. Public or not-for-profit
3. Title IV postsecondary institution (accredited)
4. open to the public

In [26]:
sector_list = ['2-year public','4-year public','4-year private, not-for-profit','Less than 2-year private, for-profit','4-year private, for-profit' '2-year private, not-for-profit','2-year private, for-profit','Less than 2-year public','Less than 2-year private, not-for-profit']
control_list = ['Public','Private not-for-profit']
obereg_list = ['Southeast','Far West','Southwest','Rocky Mountains','Plains','New England','Mid East','Great Lakes']
deggrant_list = ['Degree-granting']
carnegie_grouped_list = ['Associates Colleges','Doctoral or Research Universities','Specialized Institutions','Masters Colleges and Universities','Baccalaureate Colleges and Universities']
pset4flg_list = ['Title IV postsecondary institution']
openpubl_list = ['Insititution is open to the public']

hd_merge_filtered = hd_merge[(hd_merge['sector'].isin(sector_list)) & (hd_merge['control'].isin(control_list)) & (hd_merge['obereg'].isin(obereg_list)) & (hd_merge['deggrant'].isin(deggrant_list)) & (hd_merge['carnegie_grouped'].isin(carnegie_grouped_list)) & (hd_merge['openpubl'].isin(openpubl_list)) & (hd_merge['pset4flg'].isin(pset4flg_list))]

hd_merge_filtered.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year,carnegie_grouped
1,100654,ALABAMA A & M UNIVERSITY,4107 MERIDIAN ST,NORMAL,AL,35762.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Doctoral or Research Universities-Intensive,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002,Doctoral or Research Universities
2,100663,UNIVERSITY OF ALABAMA AT BIRMINGHAM,ADMINISTRATION BLDG SUITE 1070,BIRMINGHAM,AL,352940110.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Doctoral or Research Universities-Extensive,Title IV postsecondary institution,Yes,Yes,Insititution is open to the public,2001,2001-2002,Doctoral or Research Universities
3,100690,SOUTHERN CHRISTIAN UNIVERSITY,1200 TAYLOR RD,MONTGOMERY,AL,361173553.0,Southeast,"4-year private, not-for-profit",Four or more years,Private not-for-profit,Degree-granting,Specialized Institutions: Theological seminari...,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002,Specialized Institutions
4,100706,UNIVERSITY OF ALABAMA IN HUNTSVILLE,301 SPARKMAN DR,HUNTSVILLE,AL,35899.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Doctoral or Research Universities-Intensive,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002,Doctoral or Research Universities
5,100724,ALABAMA STATE UNIVERSITY,915 S JACKSON ST,MONTGOMERY,AL,361010271.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Masters Colleges and Universities I,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002,Masters Colleges and Universities

In [27]:
instnm_dict = {}

for index, row in hd_merge_filtered.iterrows():
    unitid = row['unitid']
    instnm = row['instnm']
    year = row['year']
    if row['unitid'] not in instnm_dict.keys():
        instnm_dict[unitid] = {'year': year, 'instnm': instnm.title()}
    elif instnm_dict[unitid]['year'] < year:
        instnm_dict[unitid] = {'year': year, 'instnm': instnm.title()}

id_2_inst_name = {}
for unitid, instnm in instnm_dict.items():
    id_2_inst_name[unitid] = instnm['instnm']

hd_merge_filtered = hd_merge_filtered.copy()

hd_merge_filtered.loc[:,'instnm_normalized'] = hd_merge_filtered['unitid'].map(id_2_inst_name)
hd_merge_filtered.head(2)

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year,carnegie_grouped,instnm_normalized
1,100654,ALABAMA A & M UNIVERSITY,4107 MERIDIAN ST,NORMAL,AL,35762.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Doctoral or Research Universities-Intensive,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002,Doctoral or Research Universities,Alabama A & M University
2,100663,UNIVERSITY OF ALABAMA AT BIRMINGHAM,ADMINISTRATION BLDG SUITE 1070,BIRMINGHAM,AL,352940110.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Doctoral or Research Universities-Extensive,Title IV postsecondary institution,Yes,Yes,Insititution is open to the public,2001,2001-2002,Doctoral or Research Universities,University Of Alabama At Birmingham

In [28]:
del hd_merge_filtered['instnm']

In [29]:
hd_merge_filtered = hd_merge_filtered[['unitid','instnm_normalized','addr','city','stabbr','zip','obereg','sector','iclevel','control','deggrant','carnegie','pset4flg','medical','hospital','openpubl','year','academic year','carnegie_grouped']]
hd_merge_filtered.head()

,unitid,instnm_normalized,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year,carnegie_grouped
1,100654,Alabama A & M University,4107 MERIDIAN ST,NORMAL,AL,35762.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Doctoral or Research Universities-Intensive,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002,Doctoral or Research Universities
2,100663,University Of Alabama At Birmingham,ADMINISTRATION BLDG SUITE 1070,BIRMINGHAM,AL,352940110.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Doctoral or Research Universities-Extensive,Title IV postsecondary institution,Yes,Yes,Insititution is open to the public,2001,2001-2002,Doctoral or Research Universities
3,100690,Amridge University,1200 TAYLOR RD,MONTGOMERY,AL,361173553.0,Southeast,"4-year private, not-for-profit",Four or more years,Private not-for-profit,Degree-granting,Specialized Institutions: Theological seminari...,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002,Specialized Institutions
4,100706,University Of Alabama In Huntsville,301 SPARKMAN DR,HUNTSVILLE,AL,35899.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Doctoral or Research Universities-Intensive,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002,Doctoral or Research Universities
5,100724,Alabama State University,915 S JACKSON ST,MONTGOMERY,AL,361010271.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Masters Colleges and Universities I,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002,Masters Colleges and Universities

hd_merge_filtered = hd_merge_filtered.rename(columns={'instnm_normalized':'instnm'},inplace=True)
hd_merge_filtered.

In [30]:
hd_merge_filtered_renamed = hd_merge_filtered.rename(columns={'instnm_normalized':'instnm'})
hd_merge_filtered_renamed.head()

,unitid,instnm,addr,city,stabbr,zip,obereg,sector,iclevel,control,deggrant,carnegie,pset4flg,medical,hospital,openpubl,year,academic year,carnegie_grouped
1,100654,Alabama A & M University,4107 MERIDIAN ST,NORMAL,AL,35762.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Doctoral or Research Universities-Intensive,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002,Doctoral or Research Universities
2,100663,University Of Alabama At Birmingham,ADMINISTRATION BLDG SUITE 1070,BIRMINGHAM,AL,352940110.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Doctoral or Research Universities-Extensive,Title IV postsecondary institution,Yes,Yes,Insititution is open to the public,2001,2001-2002,Doctoral or Research Universities
3,100690,Amridge University,1200 TAYLOR RD,MONTGOMERY,AL,361173553.0,Southeast,"4-year private, not-for-profit",Four or more years,Private not-for-profit,Degree-granting,Specialized Institutions: Theological seminari...,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002,Specialized Institutions
4,100706,University Of Alabama In Huntsville,301 SPARKMAN DR,HUNTSVILLE,AL,35899.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Doctoral or Research Universities-Intensive,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002,Doctoral or Research Universities
5,100724,Alabama State University,915 S JACKSON ST,MONTGOMERY,AL,361010271.0,Southeast,4-year public,Four or more years,Public,Degree-granting,Masters Colleges and Universities I,Title IV postsecondary institution,No,No,Insititution is open to the public,2001,2001-2002,Masters Colleges and Universities

In [31]:

#hd_merge_filtered_group_by = hd_merge_filtered.groupby('unitid')['instnm'].nunique()
#hd_merge_filtered_group_by
#hd_merge_filtered_group_by_frame = hd_merge_filtered_group_by.reset_index()
#hd_merge_filtered_group_by_frame.info()

#print(hd_merge_filtered_group_by_frame['unitid'].unique())

#hd_merge_filtered_group_by_frame_2_more = hd_merge_filtered_group_by_frame[hd_merge_filtered_group_by_frame['instnm']>=0]
#hd_merge_filtered_group_by_frame_2_more.info()

#hd_merge_filtered_group_by_frame_2_more_list = hd_merge_filtered_group_by_frame_2_more['unitid'].values.tolist()

#instnm_duplicates = hd_merge_filtered[hd_merge_filtered['unitid'].isin(hd_merge_filtered_group_by_frame_2_more_list)]
#instnm_duplicates.info()

Export for merging with student and staff data

In [32]:
hd_merge_filtered_renamed.to_csv('/Users/ellenruthconnell/Documents/IPEDS/join/institutional_characteristics_master.csv',index=False)